#layers {
    position: relative;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
}

body {
    margin: 0pt;
    padding: 0pt;
}

#controls {
    position: fixed;
    width: 200px;
    top: 0px;
    right: 0px;
    background: #ccc;
    border-radius: 5px;
}